*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERALS  */

header{
    background-color: black;
    /* height: 80px; */
    color: white;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

main{
    padding-top: 50px;
    background-color: black;
    color: white;
    font-size: 15px;
    min-height: calc(100vh - 38px);
}

footer{
   background-color: rgb(34,34,34);
   font-size: 20px;
   color: white;
}

a{
    text-decoration: none;
    color: white;
}
/* UTILITIES  */

.container{
    width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - 38px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dir-column{
    display: flex;
    flex-direction: column;
}

/* HEADER-BAR  */

.audio{
    position: relative;
}

header .audio::before{
    font-family: 'Font Awsome 5 Free';
    content: '\f00a';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0 , -50%);
    padding: 10 px;
 }
header a{
    background-color: grey;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}


/* MAIN  */

main .col{
    flex-basis: calc(90% / 7 );
    min-width: 160px;
    }

.card{
    background-image: url("https://i.picsum.photos/id/360/200/300.jpg?hmac=Fl1CgUfxrFjmcS1trYDG80XpEjYixcXfc2uTtCxFkDw");
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 100px;
    margin-top: 10px;
}

.card span{
    background-color: grey;
    padding: 4px 8px 4px 8px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.fa-microphone{
    font-size: 2em;
}